.red{
  color:red;
}

header.container-fluid{
    padding: 0;
    margin: 0;
}

/*  Box cookies*/

#cookies {
    width: 100%;
    position: fixed;
    z-index: 9999;
    background:#DDDDDD;
    padding:8px 0;
    text-align: center;
    font-size:11px;
    margin-top:-50px;
}

#cookies_close {

    width: 18px;
    height:18px;
    display: block;
    cursor: pointer;
    float:right;
    margin-right:30px;
}
/*  Menu */
.navbar {
      margin-bottom: 0;
      border-radius: 0;
      color: white;
    }
.navbar.navbar-expand-lg.navbar-light.bg-light{
       margin: 0;
       color: white;
}


    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }

/* Boutons réseaux sociaux  */
  .col-sm-2.sidenav.social_media{
      padding-left: 0px;
    }
p.icones{
  text-align: center;
  width: 20px;
  background-color: black;
}
p.icones:hover{

  left: 100px; width: 80px ;
  transition: 1s left;
  background-color: black;
}
i{
  background-color: white;
}
/* i{
  width: 50px;
}
i:hover{
     left:182px;opacity:1;width:276px;
     transition:1s left,1s width,1s opacity;
} */
